<Menu BackgroundColor="Color.Purple" Borderless>
    <Item>
        <Image Src="img/logo-white.png" UI="false" />
    </Item>
    <Item>
        <Header1 Inverted>@Code.TITLE</Header1>
        <Label Floating="CornerPosition.TopRight" AdditionalStyles="@("top:5px;right:-10px")">@Code.GetVersion()</Label>
    </Item>
    <Menu UI="false" HorizontalPosition="HorizontalPosition.Right">
        <LinkItem Link="/">Home</LinkItem>
        <LinkItem Link="/component" Match="NavLinkMatch.Prefix">Components</LinkItem>
        <LinkItem>
            <Icon IconClass="github" Size="Size.Large" />
        </LinkItem>
    </Menu>
</Menu>