<Menu BackgroundColor="Color.Purple" Borderless AdditionalStyles="@("border-radius:0px")">
    <LinkItem Link="/">
        <Header AdditionalStyles="@("font-size:20px;font-weight:bold")">@Code.TITLE</Header>
        <Label Floating="CornerPosition.TopRight" Color="Color.Black" AdditionalStyles="@("top:5px;right:-10px")">v@(Code.GetVersion())</Label>
    </LinkItem>
    <Menu UI="false" HorizontalPosition="HorizontalPosition.Right">
        <LinkItem Link="/">Home</LinkItem>
        <LinkItem Link="/component" Match="NavLinkMatch.Prefix">Components</LinkItem>
        <LinkItem>
            <Icon IconClass="github" Size="Size.Large" />
        </LinkItem>
    </Menu>
</Menu>