<Header3 Divider>
    发行说明
</Header3>
<List Bulleted>
    <Header3>1.0-Preview1<Label Color="Color.Blue">当前最新</Label></Header3>
    <Item>【新增】NavMenu 组件</Item>
    <Item>【新增】ItemList 组件</Item>
    <Item>【新增】Card 组件</Item>
    <Item>【优化】Menu 组件的参数</Item>
    <Item>【优化】Tab 组件的参数</Item>
    <Item>【优化】Buttons-&gt;ButtonGroup, Images-&gt;ImageGroup, Icons-&gt;IconGroup</Item>
    <Header3>
        1.0-Beta2
    </Header3>
    <Item>【新增】Field 的 For 参数，用于自动识别 System.ComponentModel.DataAnnotations 的注解</Item>
    <Item>【新增】DropDownList 组件</Item>
    <Item>【新增】Modal 增加 Alignment 垂直对齐方式的设置</Item>
    <Item>【修复】Pagination 组件数据源只有1页时的显示问题</Item>
    <Item>【优化】bool? 参数为 bool 参数</Item>
    <Item>【优化】Button 组件的 Icon -> IconOnly，Labeled -> IconLabeled</Item>
    <Item>【优化】在线文档</Item>
    <Header3>
        1.0-Beta1
    </Header3>
    <Item>【新增】Pagination 组件</Item>
    <Item>【新增】Toast 组件和 IToastService 服务</Item>
    <Item>【新增】Progress 进度条组件</Item>
    <Item>【新增】Flag 组件</Item>
    <Item>【优化】组件的参数，调整了不合理的设置</Item>
    <Item>【优化】Label/Icon 角标参数的配置</Item>
    <Item>【优化】统一 Active(bool) 和 Disabled(bool) 方法来控制 Actived 和 Disabled 参数</Item>
    <Item>【优化】架构体系</Item>
    <Item>【优化】在线文档</Item>
    <Header3>
        1.0-Alpha4
    </Header3>
    <Item>【新增】Dimmer 遮罩层组件</Item>
    <Item>【新增】Loader 加载器组件</Item>
    <Item>【新增】Modal 模态框组件</Item>
    <Item>【新增】DialogService 服务调用对话框</Item>
    <Item>【更新】IHasDisabled 增加 Enable() 和 Disable() 方法可通过代码改变状态</Item>
    <Item>【更新】IHasActive 增加 Active() 和 Inactive() 方法可通过代码改变状态</Item>
    <Item>【优化】Header 组件的 Dividing 参数改为 Divider 以统一命名分隔符</Item>
    <Header3>1.0-Alpha3  </Header3>
    <Item>【新增】List 组件</Item>
    <Item>【新增】Avatar 组件</Item>
    <Item>【新增】Message 组件</Item>
    <Item>【新增】Form 组件</Item>
    <Item>【新增】InputBox 组件</Item>
    <Item>【优化】整体架构设计</Item>
    <Header3>1.0-Alpha2</Header3>
    <Item>【新增】Table 组件</Item>
    <Item>【新增】Label 组件</Item>
    <Item>【优化】使用接口的方式定义了每一个组件需要的参数，以避免多余的参数设置却不起作用的误会</Item>
    <Header3>1.0-Alpha1</Header3>
    <Item>项目初始化</Item>
</List>