
<Header4 id="@Title">
    <a href="javascript:hash('@(Title)')">
        @Title
    </a>
</Header4>
<Table>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Description</TableCell>
            <TableCell Header>Data type</TableCell>
            <TableCell Header>Default value</TableCell>
        </TableRow>
    </Header>
    <Body>
        @Content
    </Body>
</Table>

@code{
    [Parameter] public string Title { get; set; } = "Parameters";
    [Parameter] public RenderFragment Content { get; set; }
}