
<Header4 id="@Title">
    <a href="javascript:hash('@(Title)')">
        @Title
    </a>
</Header4>
<Table>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Description</Th>
            <Th>Data type</Th>
            <Th>Default value</Th>
        </Tr>
    </Header>
    <Body>
        @Content
    </Body>
</Table>

@code{
    [Parameter] public string Title { get; set; } = "Parameters";
    [Parameter] public RenderFragment Content { get; set; }
}