.ui .checkbox input[type="checkbox"], .ui .checkbox input[type="radio"] {
  opacity: unset !important; }

.ui .checkbox.checked label::after, .ui .checkbox.checked .box:after {
  content: '\e800'; }

.ui .checkbox.checked label::after {
  opacity: 1;
  color: rgba(0, 0, 0, 0.95);
  font-family: CheckBox;
  position: absolute;
  font-size: 14px;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  text-align: center;
  transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease; }
