@import "semantic.css";

.ui.checkbox:not(.toggle):not(.slider) {
    & input[type="checkbox"], input[type="radio"] {
        opacity: unset!important;
        //position:unset!important;
    }
}


.ui.checkbox.checked:not(.toggle):not(.slider) {

    & label::after, .box:after {
        content: '\e800';
    }

    & label::after {
        opacity: 1;
        color: rgba(0,0,0,.95);
        font-family: CheckBox;
        position: absolute;
        font-size: 14px;
        top: 0;
        left: 0;
        width: 17px;
        height: 17px;
        text-align: center;
        transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    }
}
.ui.gridview {
    .gridview-header > table {
        border-bottom-width: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        > tr > td, th {
            border-bottom-width: 0px;
        }
    }

    .gridview-body > table:not(.structured) {
        border-bottom-width: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .gridview-footer > table {
        border-top-width: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;


        > tr > td, th {
            border-top-width: 0px;
        }
    }

    .gridview-pagination {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}