@page "/component/layout/container"

<Pager DataSource="@(new List<string>(new[] { "示例","文本容器","流式布局","参数" }))">
    <Body>
<Header1>
    容器
    <SubHeader>
        容器将内容限制为最大宽度
    </SubHeader>
</Header1>

<Header2 Divider>
    介绍
</Header2>
<Header4>
    何时使用
</Header4>
<p>
    容器是一种元素，设计用于根据用户屏幕的大小以合理的最大宽度容纳页面元素。
    这对于与其他UI元素(如 <code>Grid</code> 或 <code>Menu</code>)结合使用非常有用，可以将它们的宽度限制为显示所需的合理大小。
</p>

<Header4>
    容器的尺寸定义
</Header4>
<p>
    容器被设计成根据显示它们的屏幕的大小相应地调整它们的最大宽度。
</p>
<table class="ui table">
    <thead>
        <tr>
            <th></th>
            <th>手机</th>
            <th>平板电脑</th>
            <th>小型显示器</th>
            <th>大型显示器</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>宽度</td>
            <td>100%</td>
            <td>723px</td>
            <td>933px</td>
            <td>1127px</td>
        </tr>
        <tr>
            <td>间隙</td>
            <td>1em</td>
            <td>填满</td>
            <td>填满</td>
            <td>填满</td>
        </tr>
        <tr>
            <td>设备宽度</td>
            <td>&lt; 768px</td>
            <td>768px - 991px</td>
            <td>992px - 1200px</td>
            <td>> 1200px</td>
        </tr>
    </tbody>
</table>
<Message State="State.Info">
    详情可参考 <Anchor Link="https://fomantic-ui.com/elements/container.html" Target="LinkTarget.Blank">https://fomantic-ui.com/elements/container.html</Anchor>
</Message>

<Header2 Divider>
    使用手册
</Header2>
<Segment>
    使用 <code>&lt;Container></code> 表示容器组件。
</Segment>

<PresentationPart Title="示例">
    <RunTemplate>
        <Container>
            一段测试用的填充内容，没有任何意义。请更多的关注样式而不是这些文字。这段话为啥会被拿来填充内容我也加粗的不知道，不过它肯定会被无视的，所以就随便写点什么好了，就是给你们看个样子的。这些一点意义都没有的内容不是给你们看的，不要看我，看样式，可以不？这些内容都是扯淡的，文字也都是随便写的，并没有什么用——看看就好。写这么多废话也是很费劲的事情，对吧。不管怎么说我写这么多东西都是没有用的。一段测试用的填充内容，没有任何意义链接。请更多的关注样式而不是这些文字。这段话为啥会被拿来填充内容我也不知道，不过它肯定会被无视的，所以就随便写点什么好了，就是给你们看个样子的。这些一点意义都没有的内容不是给你们看的，不要看我，看样式，可以不？这些内容都是扯淡的，文字也都是随便写的，并没有什么用——看看就好。写这么多废话也是很费劲的事情，对吧。不管怎么说我写这么多东西都是没有用的。
        </Container>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Container>...</Container>
```
")
    </CodeTemplate>
</PresentationPart>


<PresentationPart Title="文本容器">
    <Description>
        设置 <code>Texted</code> 可以固定 <code>Container</code> 组件的最大宽度为 700px。
    </Description>
    <RunTemplate>
        <Container Texted>
            一段测试用的填充内容，没有任何意义。请更多的关注样式而不是这些文字。这段话为啥会被拿来填充内容我也加粗的不知道，不过它肯定会被无视的，所以就随便写点什么好了，就是给你们看个样子的。这些一点意义都没有的内容不是给你们看的，不要看我，看样式，可以不？这些内容都是扯淡的，文字也都是随便写的，并没有什么用——看看就好。写这么多废话也是很费劲的事情，对吧。不管怎么说我写这么多东西都是没有用的。一段测试用的填充内容，没有任何意义链接。请更多的关注样式而不是这些文字。这段话为啥会被拿来填充内容我也不知道，不过它肯定会被无视的，所以就随便写点什么好了，就是给你们看个样子的。这些一点意义都没有的内容不是给你们看的，不要看我，看样式，可以不？这些内容都是扯淡的，文字也都是随便写的，并没有什么用——看看就好。写这么多废话也是很费劲的事情，对吧。不管怎么说我写这么多东西都是没有用的。
        </Container>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Container Texted>...</Container>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="流式布局">
    <Description>
        设置 <code>Fluid</code> 使容器呈现流式布局的形式。与父容器的宽度一致。
    </Description>
    <RunTemplate>
        <Container Fluid>
            一段测试用的填充内容，没有任何意义。请更多的关注样式而不是这些文字。这段话为啥会被拿来填充内容我也加粗的不知道，不过它肯定会被无视的，所以就随便写点什么好了，就是给你们看个样子的。这些一点意义都没有的内容不是给你们看的，不要看我，看样式，可以不？这些内容都是扯淡的，文字也都是随便写的，并没有什么用——看看就好。写这么多废话也是很费劲的事情，对吧。不管怎么说我写这么多东西都是没有用的。一段测试用的填充内容，没有任何意义链接。请更多的关注样式而不是这些文字。这段话为啥会被拿来填充内容我也不知道，不过它肯定会被无视的，所以就随便写点什么好了，就是给你们看个样子的。这些一点意义都没有的内容不是给你们看的，不要看我，看样式，可以不？这些内容都是扯淡的，文字也都是随便写的，并没有什么用——看看就好。写这么多废话也是很费劲的事情，对吧。不管怎么说我写这么多东西都是没有用的。
        </Container>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Container Fluid>...</Container>
```
")
    </CodeTemplate>
</PresentationPart>
                <ParameterTable>
            <Content>
                <tr>
                    <td>Texted</td>
                    <td>设置容器中的文本更加舒适地容纳在列中</td>
                    <td>bool</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fluid</td>
                    <td>设置成流式布局并把宽度设置为 100% 以此撑满整个父元素</td>
                    <td>bool</td>
                    <td></td>
                </tr>
            </Content>
        </ParameterTable>
        </Body>
</Pager>