@page "/component/layout/tab"

<Pager DataSource="@(new List<string>(new[]{
                       "示例","下方选项卡","背景颜色","参数","事件","方法"
                   }))">
    <Body>
<Header1 Divider="true">
    选项卡
</Header1>

<Segment>
    <code>Tab</code> 作为标签组件的容器，使用 <code>TabItem</code> 作为每一个选项卡。
</Segment>

<PresentationPart Title="示例">
    <RunTemplate>
        <Tab>
            <TabItem Title="关键词">这个是标签页1的内容</TabItem>
            <TabItem Title="描述">这里可以看到另一个标签页的内容</TabItem>
        </Tab>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Tab>
    <TabItem Title=""关键词"">这个是标签页1的内容</TabItem>
    <TabItem Title=""描述"">这里可以看到另一个标签页的内容</TabItem>
</Tab>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="下方选项卡">
    <Description>
        设置 <code>VerticalPosition="VerticalPosition.Bottom"</code> 可以让选项卡出现在下方。
    </Description>
    <RunTemplate>
        <Tab VerticalPosition="VerticalPosition.Bottom">
            <TabItem Title="关键词">这个是标签页1的内容</TabItem>
            <TabItem Title="描述">这里可以看到另一个标签页的内容</TabItem>
        </Tab>
    </RunTemplate>
    <CodeTemplate>

@Code.GetCode(@"
```html
<Tab VerticalPosition=""VerticalPosition.Bottom"">
    <TabItem Title=""关键词"">这个是标签页1的内容</TabItem>
    <TabItem Title=""描述"">这里可以看到另一个标签页的内容</TabItem>
</Tab>
```
")
    </CodeTemplate>
</PresentationPart>


<PresentationPart Title="背景颜色">
    <Description>
        设置 <code>BackgroundColor</code> 改变背景颜色。
    </Description>
    <RunTemplate>
        <Tab BackgroundColor="Color.Blue">
            <TabItem Title="关键词">这个是标签页1的内容</TabItem>
            <TabItem Title="描述">这里可以看到另一个标签页的内容</TabItem>
        </Tab>
        <br />
        <Tab BackgroundColor="Color.Red">
            <TabItem Title="关键词">这个是标签页1的内容</TabItem>
            <TabItem Title="描述">这里可以看到另一个标签页的内容</TabItem>
        </Tab>
        <br />
        <Tab BackgroundColor="Color.Green">
            <TabItem Title="关键词">这个是标签页1的内容</TabItem>
            <TabItem Title="描述">这里可以看到另一个标签页的内容</TabItem>
        </Tab>
        <br />
        <Tab BackgroundColor="Color.Purple" >
            <TabItem Title="关键词">这个是标签页1的内容</TabItem>
            <TabItem Title="描述">这里可以看到另一个标签页的内容</TabItem>
        </Tab>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Tab BackgroundColor=""Color.Blue"">
    <TabItem Title=""关键词"">这个是标签页1的内容</TabItem>
    <TabItem Title=""描述"">这里可以看到另一个标签页的内容</TabItem>
</Tab>
<br />
<Tab BackgroundColor=""Color.Red"">
    <TabItem Title=""关键词"">这个是标签页1的内容</TabItem>
    <TabItem Title=""描述"">这里可以看到另一个标签页的内容</TabItem>
</Tab>
<br />
<Tab BackgroundColor=""Color.Green"">
    <TabItem Title=""关键词"">这个是标签页1的内容</TabItem>
    <TabItem Title=""描述"">这里可以看到另一个标签页的内容</TabItem>
</Tab>
<br />
<Tab BackgroundColor=""Color.Purple"">
    <TabItem Title=""关键词"">这个是标签页1的内容</TabItem>
    <TabItem Title=""描述"">这里可以看到另一个标签页的内容</TabItem>
</Tab>
```
")
    </CodeTemplate>
</PresentationPart>
        <ParameterTable Title="参数">
            <Content>
                <tr>
                    <td>VerticalPosition</td>
                    <td>选项卡在垂直方向的位置</td>
                    <td>enum</td>
                    <td>VerticalPosition.Top</td>
                </tr>
                <tr>
                    <td>BackgroundColor</td>
                    <td>选项卡的背景颜色</td>
                    <td>enum</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Manual</td>
                    <td>是否手工切换标签页</td>
                    <td>bool</td>
                    <td>false</td>
                </tr>
            </Content>
        </ParameterTable>
                <CallbackTable>
            <Content>
                <tr>
                    <td>OnSwtich</td>
                    <td>当选项卡切换时的回调方法</td>
                    <td>EventCallback&lt;int></td>
                </tr>
            </Content>
        </CallbackTable>
                        <MethodTable>
            <Content>
                <tr>
                    <td>SwitchTo(int index)</td>
                    <td>切换指定索引的选项卡</td>
                </tr>
            </Content>
        </MethodTable>
        </Body>
</Pager>