@page "/component/layout/tab"

<Pager DataSource="@(new List<string>(new[]{
                       "Demo","Bottom","BackgroundColor"
                   }))">
    <Body>
        <Header1 Divider>
            Tab
            <SubHeader>A tab is a hidden section of content activated by a menu</SubHeader>
        </Header1>
<PresentationPart Title="Demo">
    <RunTemplate>
        <Tab>
            <TabItem Title="Keyword">The content of Tab 1</TabItem>
            <TabItem Title="Description">Here is another tab content</TabItem>
        </Tab>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Tab>
    <TabItem Title=""Keyword"">The content of Tab 1</TabItem>
    <TabItem Title=""Description"">Here is another tab content</TabItem>
</Tab>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Bottom">
    <RunTemplate>
        <Tab VerticalPosition="VerticalPosition.Bottom">
            <TabItem Title="Keyword">The content of Tab 1</TabItem>
            <TabItem Title="Description">Here is another tab content</TabItem>
        </Tab>
    </RunTemplate>
    <CodeTemplate>

@Code.GetCode(@"
```html
<Tab VerticalPosition=""VerticalPosition.Bottom"">
    <TabItem Title=""Keyword"">The content of Tab 1</TabItem>
    <TabItem Title=""Description"">Here is another tab content</TabItem>
</Tab>
```
")
    </CodeTemplate>
</PresentationPart>


<PresentationPart Title="BackgroundColor">
    <RunTemplate>
        <Tab BackgroundColor="Color.Blue">
            <TabItem Title="Keyword">The content of Tab 1</TabItem>
            <TabItem Title="Description">Here is another tab content</TabItem>
        </Tab>
        <br />
        <Tab BackgroundColor="Color.Red">
            <TabItem Title="Keyword">The content of Tab 1</TabItem>
            <TabItem Title="Description">Here is another tab content</TabItem>
        </Tab>
        <br />
        <Tab BackgroundColor="Color.Green">
            <TabItem Title="Keyword">The content of Tab 1</TabItem>
            <TabItem Title="Description">Here is another tab content</TabItem>
        </Tab>
        <br />
        <Tab BackgroundColor="Color.Purple">
            <TabItem Title="Keyword">The content of Tab 1</TabItem>
            <TabItem Title="Description">Here is another tab content</TabItem>
        </Tab>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Tab BackgroundColor=""Color.Blue"">
    <TabItem Title=""Keyword"">The content of Tab 1</TabItem>
    <TabItem Title=""Description"">Here is another tab content</TabItem>
</Tab>
<br />
<Tab BackgroundColor=""Color.Red"">
    <TabItem Title=""Keyword"">The content of Tab 1</TabItem>
    <TabItem Title=""Description"">Here is another tab content</TabItem>
</Tab>
<br />
<Tab BackgroundColor=""Color.Green"">
    <TabItem Title=""Keyword"">The content of Tab 1</TabItem>
    <TabItem Title=""Description"">Here is another tab content</TabItem>
</Tab>
<br />
<Tab BackgroundColor=""Color.Purple"">
    <TabItem Title=""Keyword"">The content of Tab 1</TabItem>
    <TabItem Title=""Description"">Here is another tab content</TabItem>
</Tab>
```
")
    </CodeTemplate>
</PresentationPart>
        </Body>
</Pager>