@page "/element/text"

<Header2 Divider="true">
    文本
    <SubHeader>
        文本用于用简单的颜色样式化一些内联文本
    </SubHeader>
</Header2>

<PresentationPart>
    <RunTemplate>
        <Segment>
            这是 <Text Color="Color.Red">红色</Text> 的文本，而这是 <Text Color="Color.Blue">蓝色</Text> 的文本。
        </Segment>
        <Segment Inverted="true">
            这是 <Text Color="Color.Red" Inverted="true">红色</Text> 的文本，而这是 <Text Color="Color.Blue" Inverted="true">蓝色</Text> 的文本。
        </Segment>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment>
    这是 <Text Color=""Color.Red"">红色</Text> 的文本，而这是 <Text Color=""Color.Blue"">蓝色</Text> 的文本。
</Segment>
<Segment Inverted=""true"">
    这是 <Text Color=""Color.Red"" Inverted=""true"">红色</Text> 的文本，而这是 <Text Color=""Color.Blue"" Inverted=""true"">蓝色</Text> 的文本。
</Segment>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="尺寸">
    <Description>文本可以呈现不同的尺寸</Description>
    <RunTemplate>
        <Segment>
            <p>一开始使用 <Text Color="Color.Red" Size="Size.Mini">Mini</Text> 文本</p>
            <p>接着使用 <Text Color="Color.Red" Size="Size.Tiny">Tiny</Text> 文本</p>
            <p>然后使用 <Text Color="Color.Red" Size="Size.Small">Small</Text> 文本</p>
            <p>默认使用 <Text Color="Color.Red" Size="Size.Medium">Medium</Text> 文本</p>
            <p>可能也是 <Text Color="Color.Red" Size="Size.Large">Large</Text> 文本</p>
            <p>接下来变成 <Text Color="Color.Red" Size="Size.Big">Big</Text> 文本</p>
            <p>也可以改为 <Text Color="Color.Red" Size="Size.Huge">Huge</Text> 文本</p>
            <p>最后用 <Text Color="Color.Red" Size="Size.Massive">Massive</Text> 文本</p>
        </Segment>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment>
    <p>一开始使用 <Text Color=""Color.Red"" Size=""Size.Mini"">Mini</Text> 文本</p>
    <p>接着使用 <Text Color=""Color.Red"" Size=""Size.Tiny"">Tiny</Text> 文本</p>
    <p>然后使用 <Text Color=""Color.Red"" Size=""Size.Small"">Small</Text> 文本</p>
    <p>默认使用 <Text Color=""Color.Red"" Size=""Size.Medium"">Medium</Text> 文本</p>
    <p>可能也是 <Text Color=""Color.Red"" Size=""Size.Large"">Large</Text> 文本</p>
    <p>接下来变成 <Text Color=""Color.Red"" Size=""Size.Big"">Big</Text> 文本</p>
    <p>也可以改为 <Text Color=""Color.Red"" Size=""Size.Huge"">Huge</Text> 文本</p>
    <p>最后用 <Text Color=""Color.Red"" Size=""Size.Massive"">Massive</Text> 文本</p>
</Segment>
```
")
    </CodeTemplate>
</PresentationPart>