
<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Blamantic.Shared.Code).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Blamantic.Shared.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Blamantic.Shared.Shared.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
