@page "/component/data/grid"

<Pager DataSource="@(new List<string>
                     {
                         "Demo"
                     })">
    <Body>
        <Header1 Divider="true">
            DataGrid
            <SubHeader>A data binding to render a functional table</SubHeader>
        </Header1>
        <PresentationPart Title="Demo">
            <RunTemplate>
                <DataGrid DataSource="Users">
                    <RowTemplates>
                        <DataGridFieldTemplate FieldName="Id" HeaderText="Id" />
                        <DataGridFieldTemplate FieldName="Name" HeaderText="Name" />
                        <DataGridFieldTemplate FieldName="Birthday" HeaderText="Birthday" Format="{0:yyyy-MM-dd}" />
                    </RowTemplates>
                </DataGrid>
            </RunTemplate>
            <CodeTemplate>

            </CodeTemplate>
        </PresentationPart>
    </Body>
</Pager>

@code{ 
    class User
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public DateTime Birthday { get; set; }
    }

    IEnumerable<User> Users => new List<User>
    {
        new User { Id = 1, Name = "James", Birthday = new DateTime(1977, 5, 6) },
        new User { Id = 2, Name = "Lita", Birthday = new DateTime(1993, 2, 1) },
        new User { Id = 3, Name = "Sally", Birthday = new DateTime(1968, 6, 15) },
        new User { Id = 4, Name = "Williams", Birthday = new DateTime(1996, 12, 27) },
        new User { Id = 5, Name = "Judy", Birthday = new DateTime(1988, 10, 22) },
    };
}